@import "tailwindcss";

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --color-aGreen: #09b697;
  --color-alGreen: #f1fdfb;
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;
  --font-trebuchet: Trebuchet MS, sans-serif;
  --font-garamond: EB Garamond, serif;
  --font-bauhaus: Bauhaus 93, sans-serif;
}

html {
  scroll-padding-top: 128px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
