@import "tailwindcss";


@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --color-aGreen: #09b697;
  --color-alGreen: #f1fdfb;
  --font-outfit: Outfit, sans-serif;
  --font-ovo: Ovo, serif;
  --font-trebuchet: Trebuchet MS, sans-serif;
}


